:root {
  --primary-color: #f8fafc;
  --secondary-color: #fff;
  --third-color: #fff;
  --four-color: red;
  --card-color: #fff;
  --altern-color: red;
  --altern-secondary-color: red;

  --window-color: #ffffff;
  --preview-color: #f8fafc;
  --font-color-title: #000;
  --font-color-text: #000;
  --border-color: #e5e7eb;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-geist-sans);
  background: #f8fafc;
}

h1 {
  font-family: 'Rajdhani', sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

select {
  background: white;
  border: 1px solid #e5e7eb;
}
